.navbar {
    width: 100%;
    max-width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0px 50px;
    padding-left: 20px;
}

.logo {
    width: 150px;
    height: 150px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li {
    padding: 2rem;
    font-size: 17px;
    font-weight: 400;
}

.mobile {
   display: none;
}

@media screen and (max-width: 780px) {
    .menu {
        flex-direction: column;
        position: fixed;
        top: 80px;
        padding-top: 0px;
        bottom: 0;
        left: 1000px;
        right: 0;
        background-color: #5e6472;
        color: #fff;
        transition: left 1s;
        height: 100vh;
        width: 100%;
    }

    .active {
        left: 0;
    }

    .menu a {
        color: #fff;
        font-size: 20px;
    }

    .mobile {
        display:block;
    }
}