.contactHero {
    background:#e26e21;
    width: 100%;
    padding: 100px 0 100px 0;
    color: #fff;
    position: relative;
}



.contactHero div {
    position: relative;
    z-index: 300;
}

.contactHeader {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-bottom: 70px;
    
}

.contactHeader h2 {
    margin-bottom: 20px;
}

.contactHeader p {
    font-size: 15px;
}

.contactFlex {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.contactFlex1 div{
    margin-bottom: 30px;
}

.contactFlex1 div h3{
    font-size: 17px;
}

.contactFlex1 div p{
    font-size: 14px;
}

.contactFlex2 {
    display: flex;
    flex-direction: column;
    width: 40%;
    
    /*align-items:flex-end ;*/
}

.contactFlex2 h2 {
    margin-bottom: 40px;
    font-weight: 500;
}

.contactForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.contactForm input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

.contactIcons {
   color: black;
   display: flex;
   border: 2px solid #fff;
   background: #fff;
   border-radius: 50%;
}

.contactSubmit {
    width: 100%;
    padding: 7px;
    font-size: 20px;
    font-weight: 700;
}

