.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 80%;
    margin: 70px auto;

}

.about_image {
    width: 40%;
    height: 500px;
    border-radius: 15px;
}

.about_text {
    width: 50%;
    
}

.about_text h1 {
    margin-bottom: 25px;
}

.about_text p {
    margin-bottom: 20px;
    font-size: 18px;
}

.about_bold {
    font-weight: 700;
}

.about_box_container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto 70px auto;
    display: flex;
    justify-content: space-between;
    
}

.about_box1 {
    width: 350px;
    height: 250px;
    background: #f4f4f4;
    padding: 30px;
    border-radius: 7px;
}

.about_box {
    width: 350px;
    height: 250px;
    background: #fff;
    padding: 30px;
    border-radius: 7px;
}

.about_box h1 {
    font-size: 25px;
    margin: 10px 0 10px 0;
}

.about_box1 h1 {
    font-size: 25px;
    margin: 10px 0 10px 0;
    
}

.about_box:hover {
    background: #f4f4f4;
}

.about_box1:hover {
    background: #fff;
}


